BODY {
WIDTH:1087px;
height : auto;
padding-right : 0;
font-size : 10pt;
padding-bottom : 0;
margin : 0;
line-height : normal;
padding-top : 0;
font-family : verdana, Thoma, Arial;
text-align : center;
color : #000000;


}


P {
font-size : 10pt;
font-family : verdana, arial, sans-serif;
}
UL {
font-size : 10pt;
font-family : verdana, arial, sans-serif;
}
LI {
font-size : 10pt;
font-family : verdana, arial, sans-serif;
}
.style3 {
color : #11449e;
}

A:link {
font-size : 10pt;
color : #11449e;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
A:visited {
font-size : 10pt;
color : #11449e;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
A:active {
font-size : 10pt;
color : #11449e;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
A:hover {
font-size : 10pt;
color : #ff9900;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : underline;
}
#LeftMNav UL {
padding-left : 0;
padding-bottom : 0;
margin : 0;
width : auto;
color : #11449e;
padding-top : 0;
background-color : #bacee0;
}

#LeftMNavR UL {
padding-left : 0;
padding-bottom : 0;
margin : 0;
width : auto;
color : #11449e;
padding-top : 0;
background-color : #bacee0;
}

#LeftMNavR A {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;

color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNavR A:visited {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;

color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNavR A:active {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;

color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}

#LeftMNav A {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNavR A:active {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNavR A:hover {
font-size : 9px;
color : #ff9900;
font-family : Ms Sans Serif, Times New Roman;
background-color : #11449e;
text-decoration : none;
}
#LeftMNavR LI {
padding-left : 0;
padding-bottom : 0;
margin : 0;
padding-top : 0;
list-style-type : none;
text-align : left;
}




#LeftMNav1 UL {
padding-left : 0;
padding-bottom : 0;
margin : 0;
width : auto;
color : #11449e;
padding-top : 0;
background-color : #bacee0;
}
#LeftMNav LI {
padding-left : 0;
padding-bottom : 0;
margin : 0;
padding-top : 0;
list-style-type : none;
text-align : left;
}
#LeftMNav1 LI {
padding-left : 0;
padding-bottom : 0;
margin : 0;
padding-top : 0;
list-style-type : none;
text-align : left;
}
#LeftMNav A {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNav A:visited {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNav A:active {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNav A:hover {
font-size : 9px;
color : #ff9900;
font-family : Ms Sans Serif, Times New Roman;
background-color : #11449e;
text-decoration : none;
}
#LeftMNav1 A {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNav1 A:visited {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNav1 A:active {
background-position : 100% 50%;
display : block;
padding-left : 5px;
font-size : 9px;
padding-bottom : 6px;
border-left : 3px solid #11449e;
color : #11449e;
padding-top : 4px;
border-bottom : 1px solid #dfdfdf;
font-family : Ms Sans Serif, Times New Roman;
background-color : #efefef;
text-decoration : none;
}
#LeftMNav1 A:hover {
font-size : 9px;
color : #ff9900;
font-family : Ms Sans Serif, Times New Roman;
background-color : #11449e;
text-decoration : none;
}
#LeftFloat {
float : left;
}
#RightFloat {
float : right;
margin : 0 0 20px 20px;
}

A.TopNav:link {
border-right : 1px solid #11449e;
padding-right : 0;
border-top : 1px solid #11449e;
display : block;
padding-left : 0;
padding-bottom : 0;
margin : 0;
font : bold 12px/20px Arial, "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
border-left : 1px solid #11449e;
width : 95px;
color : #11449e;
padding-top : 0;
height : 30px;
text-decoration : none;
border-bottom-style : none;
}
A.TopNav:active {
border-right : 1px solid #11449e;
padding-right : 0;
border-top : 1px solid #11449e;
display : block;
padding-left : 0;
padding-bottom : 0;
margin : 0;
font : bold 12px/20px Arial, "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
border-left : 1px solid #11449e;
width : 95px;
color : #11449e;
padding-top : 0;
height : 22px;
text-decoration : none;
border-bottom-style : none;
}
A.TopNav:visited {
border-right : 1px solid #11449e;
padding-right : 0;
border-top : 1px solid #11449e;
display : block;
padding-left : 0;
padding-bottom : 0;
margin : 0;
font : bold 12px/20px Arial, "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
border-left : 1px solid #11449e;
width : 95px;
color : #11449e;
padding-top : 0;
height : 22px;
text-decoration : none;
border-bottom-style : none;
}



#content {
	width : 847px;
	position : relative;
	margin : 0 auto 0 auto;
	padding : 0 0 0 0;
	border : 1px solid #ffe;
	float:left;
} 
.content1 { 
width : 33%;
float : left;
margin : 0 auto 0 0;
color : #11449e;

font : 11px Verdana, Arial, Helvetica, sans-serif;
border : 1px solid #fff;
} 
.content1 h2 { 
color : #ff0000;
float: center;
font : bold 15px/20px Arial, "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
font-weight : bolder;
padding : 4 4 4 4;
} 
.content1 p ,.content2 p,.content3 p{ 
padding : 0 0 0 0;
line-height : 23px;
} 

.content2 { 
width : 33%;
float : left;
margin : 0 auto 0 0;
color : #11449e;
font : 11px Verdana, Arial, Helvetica, sans-serif;
border : 1px solid #fff;
} 
.content2 h2 { 
color : #ff0000;
font : bold 12px/20px Arial, "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
font-weight : bolder;
padding : 0 0 0 0;
} 

.content3 { 
width : 33%;
float : left;
margin : 0 auto 0 0;
color : #11449e;
font : 11px Verdana, Arial, Helvetica, sans-serif;
border : 1px solid #fff;
} 
.content3 h2 { 
color : #ff0000;
font : bold 12px/20px Arial, "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
font-weight : bolder;
padding : 0 0 0 0;
} 


	#sideBarNews{
		position: fixed;
		float:left;
		height:auto !important;
		top: 97%;
	    background:#003399;
		background-repeat:repeat-y;
		z-index:1;
		WIDTH:1088px;
	}
	#sideBarNews A:link {
font-size : 10pt;
color : #ffffff;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
#sideBarNews A:visited {
font-size : 10pt;
color : #ffffff;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
#sideBarNews A:active {
font-size : 10pt;
color : #11449e;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
#sideBarNews A:hover {
font-size : 10pt;
color : #ff9900;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : underline;
}
	
	
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-size : 10pt;
padding-bottom : 0;
margin : 0;
line-height : normal;
padding-top : 0;
font-family : verdana, Thoma, Arial;
text-align : left;
color : #11449e;
}
