.regTextBoxLeftBg {
    background:url(../images/regLeftBg.png) no-repeat;
    width:9px;
    height:30px;
    float:left;
}
.regTextBoxRightBg {
    background:url(../images/regRightBg.png) no-repeat;
    width:9px;
    height:30px;
    float:left;
}
.regTextBoxMidBg {
    background:url(../images/regMidBg.png) repeat-x;
    width:250px;
    height:27px;
    float:left;
    padding-top:3px;
}
.regTextBoxMidBg input {
    border:0px;
    background:transparent;
    font-size:13px;
    padding-top:3px;
    width:100%;
    color:#515151;
}