
/* CSS for the shoutbox */

.roundcont {
	width: 720px;
	background-color: #f90;
	color: #fff;
}

.roundcont p {
	margin: 0 10px;
}

.roundtop { 
	background: url(../images/other/tr.gif) no-repeat top right; 
}

.roundbottom {
	background: url(../images/other/br.gif) no-repeat top right; 
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}

#display {
    background-color:#ffffff;
    border:1px solid #000000;
    margin:10px;
    height:350px;
    overflow:auto;
    padding:2px;
    font-size:11px;
}
#messagebox {
    background-color:#FF9900;
    margin:10px;
}
.name {
    font-weight:bold;
    padding-right:4px;
    color:#007FFF;
    font-size:12px;
}
.message {
    color:red;
    font-size:12px;
}

.time {
    color:grey;
    font-size:10px; 
}

#shoutboxtitle {
    font-size:12px;
    font-weight:bold;
    color:#efefef;
    padding-left:10px;
}
#namecolor {
    width:15px;
    height:15px;
    background-color:#007FFF;
    color:#007FFF;
    border:1px solid #000000;
    clear:none;
    margin:2px;
}
#messagecolor {
    width:15px;
    height:15px;
    background-color:red;
    color:red;
    border:1px solid #000000;
    clear:none;
    margin:2px;
}
#palette {
    display:none;
    position:static;
    top:10px;
    left:10px;
    background-color:#ffffff;
    cursor:pointer;
}

.text {
    font-size:10px;
    color:#ffffff;
}

#txtName {
    color:#007FFF;
    font-size:12px;
}

#txtName1 {
    color:#007FFF;
    font-size:12px;
}

#txtMessage {
    color:red;
    font-size:12px;
}

#voicebox {
    float:right;
    clear:both;
    padding:10px;
}
