body, div, h1, h2, h3,font, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {
    margin:0;
    padding:0;
    border:0;
   font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
html {
    height:100%;/*-webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;*/
}
body {
   
     font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
address {
    font-style:normal;
}
b, strong {
    font-weight:bold;
}
abbr[title] {
    border-bottom:1px dotted;
}
input, textarea, button, select {
    margin:0;
    font-size:100%;
    line-height:normal;
    vertical-align:baseline;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
textarea {
    overflow:auto;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
a img, img {
    -ms-interpolation-mode:bicubic;
    border:0;
}
body {
    background: url(../images/bgBody.jpg) repeat-x left -18px #fff;
    color:#515151;
}
h1, h2, h3, h4 {
    color:#5389b5;
    font-weight:normal;
}
h2 {
    font-size:18px;
    padding-bottom:2px;
    border-bottom:solid 1px #5389b5;
    margin-bottom:10px;
}
a {
    text-decoration:none;
    color:#515151;
}
a:hover {
    cursor:pointer;
	color:#008000;
}
.grid_4 a
{ 
text-decoration:none;
color:#515151;
}
.grid_4 a:hover
{ 
color:#009500;
}
p {
    font-size:13px;
    margin-bottom:12px;
}
.wrapper {
    margin:0 auto;
    width:1200px;
}

.offsetBottom {
    margin-bottom:10px;
}
.full {
    width:100%;
    float:left;
}
/*-------------Header--------------*/
.header {
    height:90px;
}
.logo {
    padding-top:10px;	
}
ul.navigation {
    float:right;
    width:100%;
    margin-top:66px;
}
ul.navigation li {
    float:right;
    font-size:13px;
    color:#525252;
}
ul.navigation li a {
    height:35px;
    display:inline-block;
}
ul.navigation li a span {
    color:#095591;
    height:25px;
    display:inline-block;
    padding-right:10px;
   
    font-weight:bold;
}
ul.navigation li a span:hover {
    color:#009500;
}
ul.navigation li a span.activelink
{
 	color:#009500;
}
.carousal {
    height:300px;
    width:940px;
    margin-top:15px;
}
.carousal .carousalHeading {
    font-size:30px;
    color:#4a4a4a;
}
.carousal h2 {
    font-size:32px;
    color:#034e6d;
    border:none;
    margin-bottom:20px;
    padding:0px;
}
.carousal p {
    font-size:16px;
    color:#035171;
    line-height:24px;
    margin-bottom:20px;
}
.carousal1 {
    height:300px;
    width:940px;
    background:url(../images/carousalImg1.png) no-repeat left top;
}
.carousal1 .carousla1Content {
    padding-top:55px;
} 
.searchTextBoxLeftBg {
    background:url(../images/searchLeftBg.png) no-repeat;
    width:9px;
    height:30px;
    float:left;
}
.searchTextBoxRightBg {
    background:url(../images/searchRightBg.png) no-repeat;
    width:9px;
    height:30px;
    float:left;
}
.searchTextBoxMidBg {
    background:url(../images/searchMidBg.png) repeat-x;
    width:602px;
    height:27px;
    float:left;
    padding-top:3px;
}
.searchTextBoxMidBg input {
    border:0px;
    background:transparent;
    font-size:13px;
    padding-top:3px;
    width:100%;
    color:#515151;
}
.controlsTopMargin {
    margin-top:20px;
    position: relative;
}
.askUsImg {
    position: absolute;
    top: 0px;
    right: 10px;
}
.whiteBox {
    width: 290px;
    margin: 0px auto;
}
.whiteBox p {
    margin: 0px;
}
.whiteBoxTopBg {
    background: url(../images/whiteBoxTopbg.png) no-repeat left top;
    height:8px;
}
.whiteBoxBotBg {
    background: url(../images/whiteBoxBotbg.png) no-repeat left top;
    height:8px;
}
.whiteBoxMidBg {
    background: url(../images/whiteBoxMidbg.png) repeat-y left top;
    width: 270px;
    padding:0px 10px;
}
.testimonialText {
    height:200px;
    margin: 10px 0px;
    overflow: hidden;
}
.testimonialText p {
    font-style: italic;
    color: #bfbdbe;
}
.testimonialText p strong {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.whiteBox ul {
    font-size: 13px;
}
.whiteBox ul li {
    background: url(../images/grayDot.jpg) no-repeat left 4px;
    padding-left: 15px;
    margin-bottom: 2px;
}
.readMore {
    background: url(../images/read-more-bg.png) no-repeat left top;
    display: inline-block;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #133d74;
}
.footer {
    width:100%;
    float:left;
    margin-top:30px;
    background-color:#f8f8f8;
}
.copyRightbg {
    background:#f8f8f8 url(../images/bgBottomFooter.jpg) repeat-x left top;
    padding:20px 0; 
    width:100%;
    float:left;
    color:#686868;
    font-size:12px;
}
.copyRightbg a {
    display:inline-block;
    margin-left:15px;
    color:#686868;
}
.copyRightbg a:hover {
    color:#686868;
    text-decoration:underline;
}
.copyRightbg .unit {
    margin-top:15px;
}

/*select*/
.selectdropdown {
    position:relative;
}
select.select {
    position:relative;
    z-index:10;
    width:300px !important;
    height:30px !important;
    line-height:26px;
    font-size:13px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select {
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:300px;
    height:30px;
    line-height:29px;
    text-indent:10px;
    background:url(../images/select.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
    font-size:13px;
}

/*Inner Listing Page*/
.whiteTopBg {
    background: url(../images/whiteTopBg.jpg) no-repeat center top;
    width:960px;
    float:left;
    height:11px;
    margin-top:15px;
}
.whiteMidBg {
    background: url(../images/whiteMidBg.jpg) repeat-y center top;
    width:960px;
    float:left;
}
.whiteMidBg .grid_12 {
    width:920px;
    padding-left:10px;
    margin-bottom:10px;
}
.whiteMidBg .grid_3 {
    width:210px;
    padding-left:10px;
}
.whiteMidBg .grid_9 {
    margin:0px;
}
.upper
{
	margin-top:10px;
}
.heightforcategory
{
	height:110px;
}
.imgdiv
{
width:70px; 
float:left;
}
.imgdiv img
{
height:108px;
width:70px;
}
.contentdiv
{
width:190px;
font-size:8px;
float:left;
margin-left:7px;
}
.contentdiv h1
{
	padding:2px;
	font-weight:bold;
	color:#095591;
	font-size:13px;
	margin-bottom:1px;
}
.contentdiv span
{
	padding:2px;
	font-size:13px;
}
.breadCrum {
    font-size:12px;
    color:#095593;
    margin:0px;
}
.breadCrum a {
    font-size:12px;
    color:#095593;
}
.breadCrum a:hover {
    font-size:12px;
    color:#eaa232;
    text-decoration:none;
}
.innerSearch {
    margin:0px;
}
.innerSearch .searchTextBoxMidBg {
    width:93%;
}
.innerSearch .grid_5  {
    margin:0px;
    width:446px;
}
.innerSearch .unitExt {
    margin-top:1px;
}
.leftHeadBg {
    background:url(../images/feeHeadBg.jpg) no-repeat;
    height:30px;
    color:#262626;
    padding:10px 0px 0px 10px;
    font-size:14px;
    font-weight:bold;
}
.leftFeeContent {
    background-color:#fff3e5;
    padding-left:10px;	
    border-left:solid 1px #bebbb8;
    border-right:solid 1px #bebbb8;
    border-bottom:solid 1px #ffbd84;
    padding-top:10px;
}
.feeTextBox {
    width:178px;
    height:23px;
    padding:2px 4px;
}
.feeTextBox input {
    float:left;
}
.feeTextBox span {
    border:0px;
    height:20px;
    font-size:12px;
    display:inline-block;
    margin-top:-1px;
    margin-left:5px;
}
.sliderBg {
    background:url(../images/sliderBg.png) no-repeat;
    width:186px;
    height:15px;
    position:relative;
}
.sliderBoll {
    position:absolute;
    left:0px;
    top:0px;
}
.leftNav {
    background:url(../images/leftNavBg.jpg) repeat-x;
    height:22px;
    border-left:solid 1px #bebbb8;
    border-right:solid 1px #bebbb8;
    padding:10px;
    position:relative;
}
.leftLastNav {
    background:url(../images/leftNavLastBg.jpg) no-repeat;
    height:22px;
    width:190px;
    padding:10px;
    border-left:solid 0px #bebbb8;
    border-right:solid 0px #bebbb8;
    position:relative;
}
.leftNav a, .leftLastNav a {
    color:#262626;
    font-size:12px;
    font-weight:bold;
    display:inline-block;
    margin-top:2px;
}
.leftNav a:hover, .leftLastNav a:hover {
    color:#eaa232;
    text-decoration:none;	
}
.leftNav img, .leftLastNav img, .location a img {
    position:absolute;
    top:13px;
    right:10px;
    cursor:pointer;
}
.location a {
    display:block;
    background:url(../images/leftNavBg.jpg) repeat-x;
    border-left:solid 1px #bebbb8;
    border-right:solid 1px #bebbb8;
    height:32px;
    font-size:12px;
    font-weight:bold;
    color:#262626;
    padding-top:10px;
    padding-left:10px;
    position:relative;
}
.location a:hover {
    text-decoration:none;
    color:#eaa232;
}
.leftSubMenu li {
    border-left:solid 1px #bebbb8;
    border-right:solid 1px #bebbb8;
    border-bottom:solid 1px #bebbb8;
}
.leftSubMenu a {
    background:#fff;
    color:#262626;
    font-size:12px;
    display:block;
    padding:5px;
}
.leftSubMenu a:hover {
    background:#e6e5e5;
    color:#eaa232;
    text-decoration:none;	
}
.paginationBg {
    width:100%;
    background:url(../images/paginationMidBg.jpg) repeat-x;
    height:40px;
    margin-bottom:10px;
    float:left;
}
.paginationLeftBg {
    background:url(../images/paginationLeftBg.jpg) no-repeat left top;
}
.paginationRightBg {
    background:url(../images/paginationRightBg.jpg) no-repeat right top;
    height:31px;
    color:#FFFFFF;
    padding:10px 10px 0px 10px;
    position:relative;
}
.paginationRightBg span {
    float:left;
}
.paginationRightBg .paginationCounts {
    width:210px;
    margin:0px auto;
}
.paginationCounts a {
    color:#FFFFFF;
    font-size:12px;
    display:inline-block;
    padding:2px 5px;
}
.paginationCounts a:hover, .paginationCounts a.paginationActive {
    color:#095593;
    font-size:12px;
    background:#FFFFFF;
    text-decoration:none;
    *color:#fff;
    *text-decoration:underline;
    *background:none;
    *color:#000;
}
.paginationCounts a.arrow, .paginationCounts a:hover.arrow {
    font-size:14px;
    color:#FFFFFF;
    background:none;
    text-decoration:none;
}
.listBox {
    width:100%;
    float:left;	
    margin-bottom:10px;
}
.listBoxTopBg {
    width:100%;
    float:left;
    background:url(../images/listBoxTopBg.jpg) no-repeat;
    height:4px;
}
.listBoxBotBg {
    width:100%;
    float:left;
    background:url(../images/listBoxBotBg.jpg) no-repeat;
    height:8px;
}
.listBoxMidBg {
    width:98.5%;
    padding:2px 5px;
    float:left;
    background:#fff url(../images/listBoxMidBg.jpg) repeat-x;
    border-left:solid 1px #e6ebf8;
    border-right:solid 1px #e6ebf8;
    font-size:12px;
}
.listBoxMidBg em {
    font-style:italic;
    color:#0A5692;
}
.listBoxMidBg h3 a {
    color:#0A5692;
    text-decoration:none;
}
.listBoxMidBg h3 a:hover {
    color:#eaa232;
    text-decoration:none;
}
.listBoxMidBg .grid_2, .listBoxMidBg .grid_3, .listBoxMidBg .grid_6 {
    margin:0px;
}
.listBoxMidBg .grid_6 {
    width:510px;
}
.listBoxMidBg .topicshortdiscription
{
	text-decoration:none;
	margin-bottom:4px;
	margin-left:10px;
	font-weight:normal;
	font-size:10px;
}
.listImgBg {
    background:	url(../images/listImgBg.png) no-repeat;
    width:122px;
    height:122px;
    padding-top:9px;
    padding-left:9px;
    margin-bottom:10px;
    position:relative;
}
.downlodText {
    font-size:12px;
    color:#eaa232;
    padding-top:8px;
}
h3 {
    font-size:18px;
    margin-bottom:5px;
    color:#0a5692;
}

.detail .listBoxTopBg {
    width:100%;
    float:left;
    background:url(../images/DetailListBoxTopBg.jpg) no-repeat;
    height:8px;
}
.detail .listBoxBotBg {
    width:100%;
    float:left;
    background:url(../images/DetailListBoxBotBg.jpg) no-repeat;
    height:8px;
}
.detail .listBoxMidBg {
    width:99.8;
    padding:8px 15px;
    float:left;
    background:#fff url(../images/listBoxMidBg.jpg) repeat-x;
    border-left:solid 1px #e6ebf8;
    border-right:solid 1px #e6ebf8;
    font-size:12px;
    line-height:20px;
}
.approved {
    position:absolute;
    left:-10px;
    top:-10px;
}
ul.tabs li {
    display:inline-block;
    float:left;
    margin-right:3px;
    position:relative;
    z-index:1;
}
ul.tabs li a {
    background:url(../images/tabLeftBg.jpg) no-repeat left top;
    display:inline-block;
    padding-left:6px;
}
ul.tabs li a span {
    background:url(../images/tabRightBg.jpg) no-repeat right top;
    display:inline-block;
    padding-left:14px;
    padding-right:20px;
    padding-top:6px;
    height:22px;
    font-size:13px;
    color:#FFFFFF;
    font-weight:bold;
}
ul.tabs li a:hover, ul.tabs li a.tabActive {
    background:url(../images/tabLeftBgOver.jpg) no-repeat left top;
    position:relative;
    z-index:1;
    height:29px;
    text-decoration:none;
}
ul.tabs li a:hover span, ul.tabs li a.tabActive span {
    background:url(../images/tabRightBgOver.jpg) no-repeat right top;
    color:#286ba0;
    position:relative;
    z-index:1;
    height:29px;
    text-decoration:none;
    cursor:pointer;
}
.tabsContentBg {
    background:url(../images/tabsContentMidBg.jpg) repeat-y;
    position:relative;
    z-index:0;
    margin-top:-1px;
    float:left;
    width:100%;
}
.tabsContentTopBg {
    background:url(../images/tabsContentTopBg.jpg) no-repeat left top;
    float:left;
    width:100%;
}
.tabsContentBotBg {
    background:url(../images/tabsContentBotBg.jpg) no-repeat left bottom;
    float:left;
    padding:2% 0%;
    width:100%;
    font-size:12px;
}
.tabsContentBotBg .grid_6 {
    width:440px;
}
.tabsContentBotBg .grid_5 {
    margin-right:0px;
    width:430px;
}
.tabsContentBotBg .full {
    margin-bottom:2px;
}
.tabSection {
    width:100%;
    float:left;
    margin-bottom:15px;
}
.tableContent {
    background:#f6f6f6;
    font-size:8px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    padding:6px 3px 0px 3px;
}
.tableContent table td {
    background:#f6f6f6;
    padding:6px;
    font-size:12px;
    text-align:left;
    border-bottom:solid 1px #fff;
}
.tableContent table td.alternateHead {
    background:#dddddd;
    font-size:12px;
    font-weight:bold;
}
.tableContent table td.alternate1 {
   font-size:12px;
    background:#f6f6f6;
}
.tableContent table td.alternate2 {
    background:#f2f1f1;
}
.btnCompareNow {
    position:absolute;
    right:8px;
    top:6px;
}
.facilitiesIcons img {
    display:inline;
    margin-right:8px;
}
.listBox1 {
    width:100%;
    float:left;	
    margin-bottom:10px;
}
.listBoxTopBg1 {
    width:100%;
    float:left;
    background:url(../images/listBoxTopBg1.jpg) no-repeat;
    height:4px;
}
.listBoxBotBg1 {
    width:100%;
    float:left;
    background:url(../images/listBoxBotBg1.jpg) no-repeat;
    height:8px;
}
.listBoxMidBg1 {
    width:100%;
    padding:2px 2px;
    float:left;
    background:#fff url(../images/listBoxMidBg1.jpg) repeat-x;
    border-left:solid 1px #e6ebf8;
    border-right:solid 1px #e6ebf8;
    font-size:12px;
}
.listBoxMidBg1 em {
    font-style:italic;
    color:#0A5692;
}
.listBoxMidBg1 h3 a {
    color:#0A5692;
    text-decoration:none;
}
.listBoxMidBg1 h3 a:hover {
    color:#eaa232;
    text-decoration:none;
}
.listBoxMidBg p a{
font-size:12px;
font-weight:bold;
color:#095591;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.listBoxMidBg p a:hover{
font-weight:bold;
color:#008000;
text-decoration:underline;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.popup {
    width:703px;
    float:left;
}
.popupHeadBg {
    width:663px;
    float:left;
    background:url(../images/popupHeadBg.png) no-repeat left top;
    height:33px;
    padding:15px 20px 0px 20px;
    font-weight:bold;
   color:#0A5692;
    position:relative;
}
.close {
    width:22px;
    background:url(../images/close.png) no-repeat left top;
    height:22px;
    position:absolute;
    right:15px;
    top:15px;
}
.popupContentBg {
    width:663px;
    float:left;
    background:url(../images/popupContentBg.png) repeat-y left top;
    padding:0px 20px 0px 20px;
    color:#494949;
    text-align:center;
}
.popupContentBg ul {
    float:left;
    width:100%;
    margin-bottom:5px;
}
.popupContentBg ul li {
    float:left;
    width:130px;
    font-size:12px;
    padding-bottom:0px;
    text-align:left;
}
.popupBotBg {
    width:703px;
    float:left;
    background:url(../images/popupBotBg.png) no-repeat left top;
    height:15px;
}
input.forgotimagebtn
{
	background:url(../images/btnGo.png);
}
.rightsection
{
	font-size:8px;
	float:left;
	margin-left:7px;
	width:260px;
}
.subcategory
{
	font-weight:bold;
	color:#095591;
	margin-bottom:2px;
}
.subcategorydescription
{
	margin-bottom:2px;
	margin-left:2px;
	font-size:11px;
}
.previousandnext
{
	font-size:10px; 
	margin-bottom:2px;
}
.topicdiscription
{
	margin-left:5px;
	margin-bottom:5px;
}
.activetopic
{
	padding:2px;
 	color:#009500;
}
.inactivetopic
{
	padding:2px;
}
