		body
		{
			font-family:Arial, Helvetica, sans-serif;
			background:url('../images/background_bodyimage.png');
			color:#515151;
			overflow-x:hidden;
			margin:0 auto
		}
		.header
		{
			width:100%;
			margin:0 auto;
			/*background:#c7eee6;
			border-bottom:3px solid #28c1a3;*/
			background:#2F4F4F;
			border-bottom:3px solid #28c1a3;
		}
		.header_content
		{
			height:70px;
			color:#FFFFFF;
			width:1060px;
			margin:0 auto;
		}
		.header_content a
		{
			 color:#CCCCCC;
		}
		
		#logo img
		{
			height:55px;
			padding: 7px 0px 0px 0px;
		}
		.page_wrapper
		{
			width:1060px;
			background:#FFF;
			margin:0 auto;
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.20);
			min-height:570px;
		}
		ul.extra_menu
		{
			
			list-style-type:none;
		}
		ul.extra_menu li
		{
			display:inline-block;
			margin:0px 0px 0px 15px;
		}
		ul.extra_menu li a
		{
			color:#28c1a3;
			
			display:block;
			font-size:12px;
		}
		ul.extra_menu li a:hover
		{
			color:#c7eee6;
		}
.subject_div
{
	padding: 0px 15px 0px 15px;
}
ul.subject_list
{
	list-style-type:none;
	padding: 0px 4px 0px 4px;
	display: inline-block;
}
ul.subject_list li
{
	float:left;
	margin: 1px;
	
}
ul.subject_list li a.topic_list{
padding: 6px;
width: 230px;
height: 75px;
float: left;
color: rgba(137, 73, 73, 0.6);
overflow: hidden;

border: 1px solid #F0E9E6;
background: rgba(30, 198, 243, 0.1) none repeat scroll 0% 0%;
}
ul.subject_list li a.topic_list:hover
{
	opacity:0.7;
}
ul.subject_list li a div.heading
{
	font-size:larger;
	text-transform:capitalize;
	padding: 2px;
}
ul.subject_list li a p.text
{
	font-size: 11px;
  	color:#999999;
  	line-height: 14px;
  	margin: 0px;
  	padding: 1px 2px 0px 2px;
}

		a:link {
		color:#0066FF;
		text-decoration : none;
		}
		a:visited {
		color : #0066FF;
		text-decoration : none;
		}
		a:active {
		color : #0066FF;
		text-decoration : none;
		}
		a:hover {
		color : #0EC3F7;
		text-decoration : none;
		}
		table
		{
			width:100%;
		}
		table tr td
		{
			vertical-align:top;
		}
		
		
		
		div.link_menu
		{
			font-size:13px;
			padding:3px;
			margin-bottom:5px;
		}
		div.link_menu img
		{
			padding:0px 5px 2px 5px;
		}
		.comment
		{
			color:#008000;
			margin-left:20px;
		}
		h1
		{
			font-size:large;
			letter-spacing:0.5px;
			margin-top:0px;
		}
		h2
		{
			font-size:large;
			font-weight:normal;
			margin-top:8px;
			letter-spacing:0.5px;
		}
		h3
		{
			font-size:15px;
			margin-top:8px;
		}
		.menu_list
		{
			padding: 9px 0px 0px 9px;
			font-size: 13px; 
		}
		.menu_list a
		{
			text-transform:capitalize;
		}
		.menu_list img {
  			padding: 0px 0px 0px 6px;
		}
		
		
		#right_menu {
			font-size: 13px;
			background:#FFF;
		}
		#right_menu div 
		{
			background-color: #0a716d;
  			color: #fff;
 			padding: 11px 9px 11px 10px;
  			font-size: 15px;
  			text-transform: uppercase;
  			font-weight: bold;
		}
		#right_menu a 
		{
			display: block;
			background:#e5e9e8;
			text-decoration: none;
			padding:9px;
			color:#0a716d;
			text-decoration : none;
			margin: 1px 0px 0px 0px;
		}
		#right_menu a:hover,#right_menu a.active 
		{
			color : #515151;
			text-decoration : none;
			outline:none;
			background:#b9dcdb;
		}
		
		
		#right_menu_topic {
			font-size: 13px;
			background:#FFF;
		}
		#right_menu_topic div 
		{
			background-color: cadetblue;
  			color: #fff;
 			padding: 11px 9px 11px 10px;
  			font-size: 15px;
  			text-transform: uppercase;
  			font-weight: bold;
		}
		#right_menu_topic a 
		{
			display: block;
			background:#DEDEFF;
			text-decoration: none;
			padding:9px;
			color:#515151;
			text-decoration : none;
			margin: 1px 0px 0px 0px;
		}
		#right_menu_topic a:hover,#right_menu_topic a.active 
		{
			color : #515151;
			text-decoration : none;
			outline:none;
			background:#c7eee6;
		}
		
		.heading_title_name
		{
			font-size: x-large;
			 /* font-weight: bold; */
			  /* background: url('../images/heading_num.png') no-repeat #7f8c8d; */
			padding: 9px;
			letter-spacing: 0.5px;
			margin: 0px;
			color: #515151;
			background: cadetblue;
		}
		
		a.topic_listing:hover {
			color : #0EC3F7;
			text-decoration : none;
			background-position: 0px -13px;
		}
		
		/*-----Topic page-----*/
			#tpoic_sub
			{
			 display: block;
border: 1px solid #FCF8F6;
background: rgba(30, 198, 243, 0.1) none repeat scroll 0% 0%;
padding: 8px;
margin: 4px;
color: rgba(137, 73, 73, 0.6);
}
			}
			#tpoic_sub:hover,#tpoic_sub.active
			{
				border: 1px solid #28c1a3 ;
				
			}
			/*------*/
		
		.topic_description
		{
			text-align:justify;
			color:#515151;
			font-family:Arial, Helvetica, sans-serif;
			font-size:13px;
			line-height:18px;
		}
		.topic_description img
		{
			width: 90%;
  			padding: 10px 10px 10px 35px;
		}
		code
		{
			font-family: Consolas,'courier new';
			border: solid 1px #FDD403;
			border-left: solid 4px #FDD403;
			padding: 0px 15px 2px 10px;
			font-size: 13px;
			display: block;
			padding: 5px 5px 5px 10px;
			margin:7px;
			background:#FFFFFF;
		}
		code p
		{
			margin: 0px;
		}
		
		
		.footer
		{
			margin:0 auto; 
			border-top:1px #ccc solid; 
			background-color:#FCFCFC;
		}
		.footer p.heading
		{
			text-transform:uppercase;
			font-size:13px; 
			font-weight:bold;
			padding:6px;
		}
		.footer_inner
		{
			width:1060px;
			margin:0 auto;
		}
		.footer .topic
		{
			border-bottom: 1px solid #E4E4E4;
			margin:0px;
			padding:6px;
		}
		.footer .topic a
		{
			color:#515151;
			font-size:11px;
			text-decoration : none;
		}
		.footer .topic a:hover
		{
			color:#FF0000;
			text-decoration : none;
		}
		.footer table td
		{
			width:18%;
			vertical-align:top;
		}
		.site_footer
		{
			margin:0 auto;
			padding:5px; 
			font-size:13px;
			background:#000; 
			position:absolute; 
			width:100%;
		}
		.site_footer .copyright
		{
			float:right; 
			margin-right:20px;
			color:#BCBCBC;
		}
		.site_footer .copyright a:hover
		{
			color:#FFF;
			margin:0px;
		}
