# Ignore images
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.gif
*.GIF
*.bmp
*.jfif
*.svg
*.psd
*.webp

# Ignore videos
*.mp4
*.webm

# Ignore large documents/archives/databases
*.zip
*.war
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.xlsx#
*.csv
*.mdb
*.ldb
*.db
*.sql
*.pptx

# Compiled Java Classes
*.class
