		body
		{
			font-family:Arial, Helvetica, sans-serif;
			background:url('/images/background_bodyimage.JPG');
			color:#515151;
			overflow-x:hidden;
			margin:0 auto
		}
		
		.header
		{
			width:100%;
			margin:0 auto;
			background:url('/images/header.png');
			border-bottom:3px solid #FF1515;
		}
		.logo
		{
			height:65px;
			width:70%;
			font-size:large;
			color:#EAEAEA;
			display: inline;
			
		}
		.logo div
		{
			float:left;
		}
		
		.page_wrapper
		{
			width:100%;
			background:#FFF;
			margin:0 auto;
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.20);
		}
		.subject_div
		{
			padding: 0px 15px 0px 15px;
		}
		ul.subject_list
		{
			list-style-type:none;
			padding: 0px 4px 0px 4px;
			display: inline-block;
		}
		ul.subject_list li
		{
			float:left;
			margin: 6px;
		}
		ul.subject_list li a.topic_list{
			padding: 6px;
			border: 1px solid #d6d6d6;
			width: 100%;
			height: 75px;
			float: left;
		}
		ul.subject_list li a.topic_list:hover
		{
			opacity:0.7;
		}
		ul.subject_list li a div.heading
		{
			font-size:larger;
			text-transform:capitalize;
			padding: 2px;
		}
		ul.subject_list li a p.text
		{
			font-size: 11px;
			color: #515151;
			line-height: 14px;
			margin: 0px;
			padding: 1px 2px 0px 2px;
		}
		a:link {
		color:#0066FF;
		text-decoration : none;
		}
		a:visited {
		color : #0066FF;
		text-decoration : none;
		}
		a:active {
		color : #0066FF;
		text-decoration : none;
		}
		a:hover {
		color : #0EC3F7;
		text-decoration : none;
		}
		table
		{
			width:100%;
		}
		div.link_menu
		{
			font-size:13px;
			padding:3px;
			margin-bottom:5px;
		}
		div.link_menu img
		{
			padding:0px 5px 2px 5px;
		}
		.comment
		{
			color:#008000;
			margin-left:20px;
		}
		h1
		{
			font-size:large;
			letter-spacing:0.5px;
			margin-top:0px;
		}
		h2
		{
			font-size:large;
			font-weight:normal;
			margin-top:8px;
			letter-spacing:0.5px;
		}
		h3
		{
			font-size:15px;
			margin-top:8px;
		}
		i
		{
			font-size:15px;
			font-weight:bold;
		}
		ul.extra_menu
		{
			display:inline-block;
			list-style:none;
			display:none;
		}
		ul.extra_menu li
		{
			display:inline-block;
			margin:0px 15px 0px 0px;
		}
		ul.extra_menu li a
		{
			color:#D5D5D5;
			font-size:12px;
		}
		ul.extra_menu li a:hover
		{
			color:#FFF;
		}
		#left_menu {
			font-size: 13px;
			background:#fff;
			display:none;
		}
		
		#left_menu div {
			font-size:large;
			/*background:url('/images/heading_num.png') no-repeat #7f8c8d;*/
			background:#7f8c8d;
			padding:8px 7px 7px 11px;
			margin:0px;
			color:#fff;
			
		}
		#left_menu p {
			display: block;
			background:#E5E5E5;
			text-decoration: none;
			padding:7px;
			margin:1px 0px 1px 0px;
		}
		#left_menu p a 
		{
			color:#515151;
			text-decoration : none;
		}
		#left_menu p a:hover {
		color : #FF1515;
		text-decoration : none;
		outline:none;
		}
		#right_menu {
			font-size: 13px;
			background:#FFF;
			display:none;
		}
		#right_menu div 
		{
			background-color:#0EC3F7;
			font-size:large;
			/*background:url('/images/heading_num.png') no-repeat #7f8c8d;*/
			padding:8px 7px 7px 11px;
			margin:0px;
			color:#fff;
		}
		#right_menu p {
			display: block;
			background:#DEDEFF;
			text-decoration: none;
			padding:7px;
			margin:1px 0px 1px 0px;
		}
		#right_menu p a 
		{
			color:#515151;
			text-decoration : none;
		}
		#right_menu p a:hover {
		color : #fff;
		text-decoration : none;
		outline:none;
		}
		.main_content
		{
			font-size:13px;
			text-align:justify;
			line-height:18px;
			padding:0px 0px 5px 5px;
			
		}
		.main_content h1
		{
			padding:7px 0px 10px 0px;
			font-size:22px;
		}
		.main_content #indexing
		{
			margin:15px 0px 15px 0px;
			border-bottom:1px #C0C0C0 dotted;
			border-top:1px #C0C0C0 dotted;
			padding:1px;
		}
		.main_content ol li
		{
			padding-top:5px;
		}
		.main_content ul
		{
			list-style:none;
			padding:0px 0px 0px 17px;
		}
		.main_content ul li
		{
			background-image: url('/images/check_new.png');
			background-repeat: no-repeat;
			background-position: 0px 7px;
			padding-left:18px; padding-right:0px; padding-top:4px; padding-bottom:0px
		}
		.main_content table
		{
			width:100%;
		}
		
		.table_content {
			background:#FFFFFF;
			border:solid 1px #dddddd;
			padding:1px 1px 0px 1px;
		}
		.table_content table td {
			background:#fff;
			padding:6px;
			text-align:left;
			border:solid 1px #fff;
		}
		.table_content table td.heading {
			background:#dddddd;
			font-weight:bold;
			font-size:13px;
			color:#515151;
		}
		.table_content table td.alternate_heading1 {
			background:#f6f6f6;
		}
		.table_content table td.alternate_heading2 {
			background:#f2f1f1;
		}
		.main_content #indexing a
		{
			color:#515151;
		}
		.main_content #indexing a:hover
		{
			color:#FF1515;
		}
		 .main_content .heading
		{
			font-size:large;
			/*background:url('/images/heading_num.png') no-repeat #7f8c8d;*/
			background:#7f8c8d;
			padding:5px 0px 6px 0px;
			margin:0px;
			color:#fff;
			text-align:center;
			line-height:25px;
		}
		.main_content .content_link p a.topic
		{
			text-decoration : none;
			color:#515151;
			background:url('/images/plus.png') no-repeat 0px 2px;
			padding-left:17px;
			padding-right:0px; padding-top:0px; padding-bottom:0px
		}
		.main_content .content_link p.no_border
		{
			border:none;
			margin:8px;
			
		}
		.main_content .content_link p a.topic:hover {
			color : #0EC3F7;
			text-decoration : none;
			background-position: 0px -13px;
		}
	
		.main_content .content_link
		{
			background:#FCFCFC; 
			padding:2px 5px 2px 10px;
			margin-bottom:10px;
		}
		.main_content .content_link p
		{
			border-bottom:#0EC3F7 1px dotted;
			padding-bottom:5px;
		}
		.main_content .point_out
		{
			font-family:"Courier New", Courier, monospace;
		}
		div.code
		{
			background:#FBFBFB;
			padding:5px 5px 5px 8px;
			border-left: 3px #FF4A4A solid;
			font-family:"Courier New", Courier, monospace;
			margin:5px 0px 5px 0px;
		}
		div.code font
		{
			font-family:"Courier New", Courier, monospace;
		}
		div.output
		{
			background:#FDFDFD;
			padding:5px 5px 5px 8px;
			border-left: 3px #D5D5D5 solid;
			letter-spacing:0.5px;
		}
		.main_content div.image
		{
			background:#FFFBFB;
			padding:10px;
			text-align:center;
		}
		.main_content div.image img
		{
			max-width:90%;
		}
		
		.footer
		{
			margin:0 auto; 
			border-top:1px #ccc solid; 
			background-color:#FCFCFC;
			width:100%;
		}
		.footer p.heading
		{
			text-transform:uppercase;
			font-size:13px; 
			font-weight:bold;
			padding:6px;
		}
		.footer_inner
		{
			width:100%;
			margin:0 auto;
		}
		.footer .topic
		{
			border-bottom: 1px solid #E4E4E4;
			margin:0px;
			padding:6px;
		}
		.footer .topic a
		{
			color:#515151;
			font-size:11px;
			text-decoration : none;
		}
		.footer .topic a:hover
		{
			color:#FF0000;
			text-decoration : none;
		}
		
		.site_footer
		{
			margin:0 auto;
			padding:5px; 
			font-size:13px;
			background:#000; 
			position:absolute; 
			width:100%;
		}
		.site_footer .copyright
		{
			float:right; 
			margin-right:20px;
			color:#BCBCBC;
		}
		.site_footer .copyright a:hover
		{
			color:#FFF;
			margin:0px;
		}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-size : 10pt;
padding-bottom : 0;
margin : 0;
line-height : normal;
padding-top : 0;
font-family : verdana, Thoma, Arial;
text-align : left;
color : #11449e;
overflow: auto;
	width: 80%;
}
.adRight
{
	float:right;
	
	margin:0 0 10px 10px;
}
.adLeft
{
	float:left;
	margin:0 0 10px 10px;
}
.adCenter
{
	float:center;
	margin:0 0 10px 10px;
}


.trseparator{
 
	
}
		
.linkColor{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font:Verdana;
    height:100px;
	font-size:14px;
	font-weight:lighter;
	}
.linkColor ul{
  
	background:rgba(245, 248, 253, 0.1);
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.linkColor li{
		float:left;
		padding:0px;
		height:100%;
		background:rgba(245, 248, 253, 0.1);
		}
	.linkColor li a{
		background:rgba(245, 248, 253, 0.1);
		color:#000000;
		display:block;
		font-weight:normal;
		font-size:14px;
	    height:100px;
		margin:0px;
		padding:0px 0px;
		text-align:justify;
		text-decoration:none;
		}
		.linkColor li a span {
		background:rgba(245, 248, 253, 0.1);
		color:#FC032F;
		display:block;
		font-weight:bold;
		font-size:15px;
		line-height:15px;
		margin:0px;
		padding:0px 0px;
		text-align:center;
		text-decoration:none;
		}
		.linkColor li a:hover, .linkColor ul li:hover a{
			background:rgba(245, 248, 253, 0.1);
			color:#000000;
		display:block;
		font-weight:normal;
		font-size:14px;
		
		margin:0px;
		padding:0px 0px;
		text-align:justify;
		text-decoration:none;
			}
		.linkColor li a:hover, .linkColor ul li:hover a span{
			background:rgba(245, 248, 253, 0.1);
		color:#FC032F;
		display:block;
		font-weight:bold;
		font-size:15px;
		
		margin:0px;
		padding:0px 0px;
		text-align:center;
		text-decoration:none;
			}
			
			
			

@media screen and (max-width: 600px) {
 table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  
    
  }
  
  	.main_content
		{
			font-size:13px;
			text-align:justify;
			line-height:18px;
			padding:0px 0px 5px 5px;
			width: 280px;
		}
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
   
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
     width: 120px;

    
  }
  	ul.subject_list li a.topic_list{
			padding: 6px;
			border: 1px solid #d6d6d6;
			width: 180px;
			height: 75px;
			width: 280px;
			float: left;
		}
  	#right_menu p {
			display: block;
			background:#DEDEFF;
			text-decoration: none;
			padding:7px;
			margin:1px 0px 1px 0px;
			width: 280px;
		}
	#right_menu div 
		{
			background-color:#0EC3F7;
			font-size:large;
			/*background:url('../images/heading_num.png') no-repeat #7f8c8d;*/
			padding:8px 7px 7px 11px;
			margin:0px;
			color:#fff;
			width: 280px;
		}
		
			#left_menu p {
			display: none;
			background:#DEDEFF;
			text-decoration: none;
			padding:7px;
			margin:1px 0px 1px 0px;
			width: 1%;
		}
	#left_menu div 
		{
			background-color:#0EC3F7;
			font-size:large;
			/*background:url('../images/heading_num.png') no-repeat #7f8c8d;*/
			padding:8px 7px 7px 11px;
			margin:0px;
			color:#fff;
			width: 1%;
		}
		
  .footer .topic
		{
			border-bottom: 1px solid #E4E4E4;
			margin:0px;
			padding:6px;
			width:280px;
		}
		
	
		code {
 border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
     width: 180px;
}
#image 
		{
			max-width:180px;
		}
		
  table td:last-child {
    border-bottom: 0;
  }
}
