#mask {
          position:absolute;
          left:0;
          top:0;
          z-index:9000;
          background-color:#000;
          display:none;
        }  
        #boxes .window {
          position:absolute;
          left:0;
          top:0;
          width:440px;
          height:200px;
          display:none;
          z-index:9999;
          padding:20px;
        }
        #boxes #dialog {
          width:375px; 
          height:203px;
          padding:10px;
          background-color:#ffffff;
        }
#ddmenu
{
    display:block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:left; 
    letter-spacing:normal;
	margin:0 auto;
	background:#515151;
	border-top:1px #F6F6F6 groove;
}

#ddmenu ul
{ 
    padding:0;
    text-align:left; 
    width:100%;
    font-size:0;
    display:inline-block;
    list-style:none;
    position:relative;
    z-index:999999990; 
    border-radius:3px;
}
#ddmenu li
{
    padding:0;
    font-size:12px;
    display:inline-block;
    *display:inline;
    zoom:1; /*for IE6-7*/
    position:relative;
    color:#EAEAEA;
    line-height:25px; 
    transition:background-color 0.2s;
    outline:none;
	position:static;
}

#ddmenu li.over
{
    color:#FFF;
	background-color:#FF1515;
	border-radius:3px 3px 0px 0px;
}



#ddmenu  .cssmenu {
  border: 6px solid green;
  -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
  background: #565656;
  background: -moz-linear-gradient(#565656 0%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #323232));
  background: -webkit-linear-gradient(#565656 0%, #323232 100%);
  background: linear-gradient(#565656 0%, #323232 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


#ddmenu .top-heading
{
    font-weight:bold;
    white-space:nowrap;
    margin:0 22px;
    color:inherit;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    cursor:pointer;
}

#ddmenu li a, #ddmenu li a:link, #ddmenu li a:hover
{
    color:inherit;
}
#ddmenu li a:hover
{
    text-decoration:underline;
}

#ddmenu li a:focus
{
    outline:1px dotted #09F;
}


#ddmenu i.caret
{
    color:inherit;
    left:-18px;
    width: 0;
    height: 0;
    overflow:hidden;/*for IE6*/
    vertical-align:middle;
    margin-bottom:2px;
    border-top: 4px solid;/*caret size is 4px now*/
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    position:relative;
}  


#ddmenu .dropdown
{
    width:auto;    
    left:0px;
	    color:#000000; 
    padding:0;
	margin:0;display:none;position:absolute;
    top:100%;    
    border:1px solid #ddd;
	border-top:none;
	border-radius:0 0 2px 2px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
}

#ddmenu li .dropdown {
    width:100%;
    padding:0;
    margin:0;
    margin-left:-1px; /*Set to 0 if UL has no border*/
}

#ddmenu .offset300 {
    left:-300px;right:auto;
}

#ddmenu .right-aligned {
    left:auto;
    right:0px;
}

#ddmenu li.over .dropdown
{
    display:block;
}

#ddmenu .dd-inner {
	margin-top:3px;
    text-align:center;
    padding:20px;
    border-bottom:#FF1515 3px solid;
    background-color:#FFF;
    white-space:nowrap;
    font-size:13px;
    line-height:1.35;
}
  

#ddmenu .dropdown a
{  
    display:block;
    color:#444;
    line-height:22px;  
    text-decoration:none;
    padding:0;
}

#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus
{
    text-decoration:underline;
    color:#09F;
}


#ddmenu div.column
{
    text-align:left;
    vertical-align:top;/*or middle*/
    display:inline-block;
    *display:inline;*zoom:1;
    white-space:normal;
    width:auto;min-width:170px;
padding:0 30px;
border-right:1px solid #999;
}

#ddmenu div.dd-inner div:last-child
{
    border-right:none;
}

#ddmenu div.column h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 24px;
}

#ddmenu .top-heading {text-transform:uppercase;}


#ddmenuLink {display:none;}



#ddmenu div.menu-icon   
{
    display:none; 
}