body{
background:gray; 
padding:0;
margin: 0px auto auto auto;
width:100%;

}
#wrap{
width:100%;
height: auto;
margin:auto;
background-color:#FFFFFF;
text-align:center;
float:center;
 cellpadding:0;
 cellspacing:0;
}


h1 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
	color: navy;
	padding-top: 12px;
	padding-bottom: 3px;
}

A:link {
font-size : 10pt;
color : #CC9900;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
A:visited {
font-size : 10pt;
color : #CC9900;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
A:active {
font-size : 10pt;
color : #CC9900;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}
A:hover {
font-size : 10pt;
color : #FF0000;
font-family : Arial, Ms Sans Serif, Times New Roman;
text-decoration : none;
}

.headerBorder{
background:#333333 url('/images/94.jpg') bottom right;; 
width:100%; 
margin-left:auto; 
margin-right:auto; 
margin-top:0px; 
margin-bottom:auto;
}
.headerTR1{
background-color: #FFFFFF;
}
.headerTR2{
background-color: #FFFFFF;
}
.headerTR3{
background-color: #FFFFFF;
}
.m{
margin: 0px auto auto auto;
background-color:silver;
width: 100%;
}
.menu{
background:#FFFFFF;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	height:40px;
    width:120px;
	font-weight:bold;
	}
.menu ul{
	background:#FFFFFF;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.menu li{
		float:left;
        width:125px;
		padding:0px;
		}
	.menu li a{
		background:#FFFFFF url('/images/94.jpg') bottom right;
		color:#000000;
		display:block;
		font-weight:normal;
		line-height:40px;
		margin:0px;
		text-align:center;
		text-decoration:none; padding-left:30px; padding-right:30px; padding-top:0px; padding-bottom:0px
		}
		.menu li a:hover, .menu ul li:hover a{
			background: #2580a2 url('/images/hover.gif') no-repeat bottom center;
			color:#FFFFFF;
			text-decoration:none
			}
	.menu li ul{
		background:#333333;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.menu li:hover ul{
		display:block;
		
		}
	.menu li li {
		background:url('/images/sub_sep.gif') bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:225px;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
		display:block;
		height:35px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu li ul a:hover, .menu li ul li:hover a{
			background:#2580a2 url('/images/hover_sub.gif') center left no-repeat;
			border:0px;
			color:#FFFFFF;
			text-decoration:none;
			}
	.menu p{
		clear:left;
		}	
  .content{
  width:100%;
  align:left;
  valign:top;  
  }
 
   .content table{
  cellspacing:0;
  cellpadding:0;
  width:100%;
  }
  .td1{
  margin-left:15px;
   width:84%;
   background:#FFFFFF;
   valign:top;
  
  }
   .td2{
  width:16%;
  align:right;
  valign:top;
  }
 
 .colorChange{

	   background:#FFFFFF;
		margin:0px;
		padding:0px 5px;
		text-align:justify;
		text-decoration:none;
		overflow:scroll;
			width:100%	;
				height:250px;
	}
.colorChange ul{

	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.colorChange li{
		float:none;
		padding:0px;
		
		}
		
	.colorChange li a{
		background:#FFFFFF;
		color:#000000;
		display:block;
		font-weight:normal;
		line-height:20px;
		margin:0px;
		padding:0px 5px;
			width:100%;
		font-size:12px;
		text-align:left;
		text-decoration:none;
		
		}
		.colorChange li a:hover, .colorChange ul li:hover a{
			background:  #EAE9E8;
			color:#000000;
		display:block;
		font-weight:normal;
		line-height:20px;
		margin:0px;
		padding:0px 5px;
		width:100%;
		font-size:13px;
		text-align:left;
		text-decoration:none;
			}
	
			
.linkColor{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font:Verdana;
	
	font-size:14px;
	font-weight:lighter;
	}
.linkColor ul{
	background:#FFFFFF;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.linkColor li{
		float:left;
		padding:0px;
		}
	.linkColor li a{
		background:#FFFFFF;
		color:#000000;
		display:block;
		font-weight:normal;
		font-size:14px;
		line-height:15px;
		margin:0px;
		padding:0px 10px;
		text-align:justify;
		text-decoration:none;
		}
		.linkColor li a span {
		background:#FFFFFF;
		color:#FC032F;
		display:block;
		font-weight:bold;
		font-size:15px;
		line-height:15px;
		margin:0px;
		padding:0px 10px;
		text-align:center;
		text-decoration:none;
		}
		.linkColor li a:hover, .linkColor ul li:hover a{
			background: #EAE9E8 ;
			color:#000000;
		display:block;
		font-weight:normal;
		font-size:14px;
		line-height:15px;
		margin:0px;
		padding:0px 10px;
		text-align:justify;
		text-decoration:none;
			}
		.linkColor li a:hover, .linkColor ul li:hover a span{
			background: #EAE9E8 ;
			
		color:#FC032F;
		display:block;
		font-weight:bold;
		font-size:15px;
		line-height:15px;
		margin:0px;
		padding:0px 10px;
		text-align:center;
		text-decoration:none;
			}
	
	.cleanLine{
	text-align:left;
	background:#FFFFFF;
		width:225px;
	hieght:8px;

	}	
	.cleanLine ul li{
	list-style-image:url('/images/left_menu_bullet.gif')
	
	}
	.cleanLine ul{
	background:#FFFFFF;
	}
	.cleanLine  li a{
	background:#FFFFFF;
	color: #000000;
	 valign:top;
	text-decoration: none;
	font-weight:inherit; font-style:normal; font-variant:normal; font-size:80%; font-family:Lucida Sans Unicode, Bitstream Vera Sans, Trebuchet Unicode MS, Lucida Grande, Verdana, Helvetica, sans-serif
	}
	
	.footer{
	width:1060px;
	color:#FFFFFF;
	font:Verdana;
	text-align:center;
	font-size:14px;
	font-weight:lighter;
	
	}
	.footer a{
	
	color:#FFFFFF;
	font-weight:bold;
	font:Verdana;
	font-size:14px;
	font-weight:lighter;
	text-decoration: none;
	}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-size : 10pt;
padding-bottom : 0;
margin : 0;
line-height : normal;
padding-top : 0;
font-family : verdana, Thoma, Arial;
text-align : left;
color : #000000;
}

#contentpre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-size : 10pt;
padding-bottom : 0;
margin : 0;
line-height : normal;
padding-top : 0;
font-family : verdana, Thoma, Arial;
text-align : left;
color : #000000;
}
	
	.adRight
{
	float:right;
	
	margin:0 0 10px 10px;
}
.adLeft
{
	float:left;
	margin:0 0 10px 10px;
}
.adCenter
{
	float:center;
	margin:0 0 10px 10px;
}

#cssdropdown, #cssdropdown ul {
padding: 0;
margin: 0;
list-style: none;
}

#cssdropdown li {
float: left;
position: relative;
}

.mainitems{
border: 1px solid black;
background-color: #FFEEC6;
}

.mainitems a{
margin-left: 6px;
margin-right: 8px;
text-decoration: none;
}

.subuls{
display: none;
width: 300px;
position: absolute;
top: 1.2em;
left: 0;
background-color: lightyellow;
border: 1px solid black;
}

.subuls li{
width: 100%;
}

.subuls li a{
text-decoration: underline;
}

#cssdropdown li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
top: auto;
left: auto;
}

#cssdropdown li:hover ul, li.over ul { /* lists nested under hovered list items */
display: block;
}

#restofcontent { /*wrap rest of content of the page inside this div*/
clear: left;
}

#vertmenu {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
width: 160px;
padding: 0px;
margin: 30px 30px -5px 0px;
}

#vertmenu h1 {
display: block;
background-color:#FF9900;
font-size: 80%;
padding: 3px 0px 3px -6px;
text-align :center;
vertical-align:text-top;
border: 1px solid #000000;
color: #333333;
margin: -5px;
width:159px;
}

#vertmenu ul {
list-style: none;
margin: -5px;
padding: 0px;
border: none;
}
#vertmenu ul li {
margin: -5px;
padding: 0px;
}
#vertmenu ul li a {
font-size: 80%;
display: block;
border-bottom: 1px dashed #C39C4E;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #00008B;
width:160px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}

 #example1 {
            margin: 0;
            padding: 0;
            
            list-style-type: none;
            line-height: 120%;
        }

        #example1 .closed {
            background-image: url('/img/ha-down.gif');
        }

        #example1 .closed, #example1 .opened {
            padding-right: 10px;
            background-position: 98% 50%;
            background-repeat: no-repeat;
        }

        #example1 .header {
            background-color: #7B7B7B;
        }

        #example1 .opened {
            background-image: url('/img/ha-up.gif');
        }

        #example1 a {
            display: block;
            font-weight: bold;
            text-decoration: none;
        }

        #example1 a.hover {
            border-top: 1px solid #5F5F5F;
            border-bottom: 1px solid #7B7B7B;
            background-color: #7B7B7B;
            color: #FFFFFF;
        }

        #example1 ul {

            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #example1 li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            background-color: #A0A0A0 ;
            color: #FFFFFF;
        }

        #example1 li a {
            padding: 2px 10px 2px 4px;
            border-top: 1px solid #9A9A9A;
            border-left: 1px solid #9A9A9A;
            border-right: 1px solid #696969;
            border-bottom: 1px solid #757575;
            background-color: #A0A0A0 ;
            color: #FFFFFF;
        }

        #example1 li.active a, #example1 li li.active a {
            border-top: 1px solid #5F5F5F;
            border-bottom: 1px solid #7B7B7B;
            border-left: 1px solid #757575;
            border-right: 1px solid #9A9A9A;
            background-color: #A0A0A0 ;
            color: #FFFFFF;
        }

        #example1 li.active li a, #example1 li li a {
            padding: 2px 4px 2px 8px;
            border-top: 1px solid #696969;
            border-left: 1px solid #696969;
            border-right: 1px solid #8A8A8A;
            border-bottom: 1px solid #7B7B7B;
            background-color: #A0A0A0 ;
            color: #FFFFFF;
        }

#example2 {
            font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
            font-size: 80%;
            margin: 0;
            padding: 0;
            width: 300px;
            list-style-type: none;
            background-color: #FFFFFF;
            color: #000000;
            line-height: 120%;
           
        }

        #example2 a {
            display: block;
            font-weight: normal;
            text-decoration: none;
        }

        #example2 ul {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        #example2 li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        #example2 li a {
            font-weight: bold;
            width: 285px;
            padding: 5px 0 0 15px;
            display: block;
            color: #F8F8F8;
            background-image: url(/img/ha-header.jpg);
            height: 25px;
        }

        #example2 li a.closed {
            color: #000000 !important;
            background-image: url(/img/ha-header.jpg) !important;
        }

        #example2 li.firstitem a.closed {
            color: #000000 !important;
            background-image: url(/img/ha-header-first.jpg) !important;
        }

        #example2 li.lastitem a.closed {
            color: #000000 !important;
            background-image: url(/img/ha-header-last.jpg) !important;
        }

        #example2 li li {
            border-left: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
           
          
        }

        #example2 li a.opened {
            background-image: url(/img/ha-header-active.jpg);
            color: #FFFFFF;
        }

        #example2 li.firstitem a.opened {
            background-image: url(/img/ha-header-first-active.jpg);
            color: #FFFFFF;
        }

        #example2 li.lastitem li {
            margin-bottom: -4px;
        }

        #example2 li.lastitem ul {
            background-image: url(/img/ha-footer.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            padding-bottom: 4px;
        }
